
<div class="list-wrapper">

  <h2 class="list-title" *ngIf="movies.length">Popular Movies:</h2>



  <ul class="movie-list list-group" *ngIf="movies.length">

    <li *ngFor="let movie of movies">

      <a class="list-group-item" [routerLink]="['/movie', movie.id]" [routerLinkActive]="'active'">
        <span>{{movie.title}}</span>
      </a>

    </li>

  </ul>

  <mat-progress-spinner
    *ngIf="!movies.length"
    class="spinner"
    [color]="'#6666cc'"
    [mode]="'indeterminate'"
    [diameter]="80"
    [strokeWidth]="6">
  </mat-progress-spinner>



</div>
