
<div class="list-wrapper">

  <h2 class="list-title">Popular Movies:</h2>

  <ul class="movie-list list-group">
    <li>
      <a class="list-group-item active" href="#">The internal sunshine of a spotless mind of a spotless mind</a>
    </li>

    <li>
      <a class="list-group-item" href="#">The internal sunshine of a spotless mind of a spotless mind</a>
    </li>

    <li>
      <a class="list-group-item" href="#">The internal sunshine of a spotless mind of a spotless mind</a>
    </li>

    <li>
      <a class="list-group-item" href="#">The internal sunshine of a spotless mind of a spotless mind</a>
    </li>

    <li>
      <a class="list-group-item" href="#">The internal sunshine of a spotless mind of a spotless mind</a>
    </li>

    <li>
      <a class="list-group-item" href="#">The internal sunshine of a spotless mind of a spotless mind</a>
    </li>

    <li>
      <a class="list-group-item" href="#">The internal sunshine of a spotless mind of a spotless mind</a>
    </li>



  </ul>


</div>
