<div class="col-8">

  <div class="card movie-card" *ngIf="activeMovie">

    <div class="row flex-nowrap">

      <div class="col-auto">

        <img [src]="activeMovie.posterPath" [alt]="activeMovie.title + ' poster image'" class="movie-poster">

      </div>

      <div class="col-auto flex-shrink-1 flex-grow-1">

        <h3 class="movie-title">{{activeMovie.title}}</h3>

        <span><strong>Realease date: </strong>{{activeMovie.releaseDate}}</span>

        <p class="movie-description">{{activeMovie.overview}}</p>

        <star-rating
          [starType]="'svg'"
          [showHalfStars]="true"
          [readOnly]="true"
          [labelPosition]="'top'"
          [labelText]="'sdsdsd'"
          [rating]="rate"
        ></star-rating>

      </div>

    </div>

  </div>

</div>
