<div class="col-12 movie-card-wrapper">

  <div class="card movie-card" *ngIf="activeMovie">

    <div class="position-relative">

      <div class="row flex-sm-nowrap">

        <div class="col-12 col-sm-auto">

          <img [src]="activeMovie.posterPath" [alt]="activeMovie.title + ' poster image'" class="movie-poster">

        </div>

        <div class="col-12 col-sm-auto flex-shrink-1 flex-grow-1 ">

          <div class="card-content-wrapper">

            <h3 class="movie-title">{{activeMovie.title}}</h3>

            <span class="movie-date"><strong>Realease date: </strong>{{activeMovie.releaseDate}}</span>

            <span class="movie-summary">Summary: </span>

            <p class="movie-description">{{activeMovie.overview}}</p>

          </div>

        </div>

      </div>

      <div class="movie-footer">

        <div class="movie-voting-wrap">

          <span class="movie-votes">Vote Count: <strong>{{activeMovie.voteCount}}</strong></span>

          <star-rating
            [starType]="'svg'"
            [showHalfStars]="true"
            [readOnly]="true"
            [rating]="rate"
          ></star-rating>

        </div>

      </div>

    </div>

  </div>

</div>
