

<!--Header Bar Component-->

<section class="full-layout">


  <!-- SideBar Component -->
  <app-sidenav [ngClass]="{'collapsed': isCollapsed}"></app-sidenav>

  <div class="row flex-column flex-nowrap no-gutters h-100">

    <div class="col-auto">

      <!--  Header Bar Component  -->
      <app-header (onToggle)="toggleClass()"></app-header>

    </div>

    <div class="col-auto flex-shrink-1 flex-grow-1 overflow-auto d-flex align-items-stretch">

      <div class="d-flex align-items-stretch">

        <!--  Workspace Bar Component  -->
        <app-workspace></app-workspace>

      </div>

    </div>

  </div>

</section>





