
<header>

  <div class="container-fluid p-0">

    <div class="row no-gutters justify-content-between align-items-center">

      <div class="col-12 col-sm-auto">

        <div class="row no-gutters align-items-center">

          <div class="col-auto hamburger-btn">

            <i class="material-icons" (click)="onClick()">menu</i>

          </div>

          <div class="col-auto">

            <a [routerLink]="['/home']" class="logo">
              <h1>MovieDB</h1>
            </a>

          </div>

        </div>

      </div>

      <div class="col-12 col-sm-auto">

        <app-filter-movies></app-filter-movies>

      </div>

    </div>

  </div>

</header>
