
<header>

  <div class="container-fluid p-0">

    <div class="row no-gutters justify-content-between align-items-center">

      <div class="col-auto">

        <h1 class="logo">MovieDB</h1>

      </div>

      <div class="col-auto">

        <div class="row justify-content-end align-items-center">

          <div class="col-auto">

            <app-filter-movies></app-filter-movies>

          </div>

          <div class="col-auto">

            <i class="material-icons settings-icon">settings</i>

          </div>

        </div>

      </div>

    </div>

  </div>

</header>
