/*************************************************
*   GLOBAL STYLE VARIABLES
*************************************************/

$Roboto_font: 'Roboto', sans-serif;
$logo_font: 'Shrikhand', cursive;
$material_font: "Material Icons";


$white: #ffffff;
$bg-color: #e4e8eb;
$text-color: #3a3a3a;
$bg-sidebar: #f9fbfc;
$highlighted: #6666cc;

$sidebar-width: 400px;
