
/** Import Partials **********************/
@import "assets/scss_partials/mixins/general";

@import '~material-icons/iconfont/material-icons.css';

@import '../node_modules/css-star-rating/css/star-rating.min.css';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/** General Style Rules ******************/

body {

  font-family: $Roboto_font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  color: $text-color;
  background-color: $bg-color;

}

h1, h2, h3, h4, h5, h6, p, div, label, input {
  padding: 0;
  margin: 0;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  color: $text-color;

  .list-title {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.mat-dialog-content {
  word-break: break-all;
}
